*{
	font-family: 'Karla', sans-serif;
}
:root {
    --colorTextos: #49454567;
}

body{

    background: #4568DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #ffd2d2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #ffd2d2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 650px;
   
    
}
.container{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	
	justify-content: center;
    gap: 10px;
    
	
}

form{
	border: 2px solid #fff;
    background: white;
    padding: 40px 0;
    box-shadow: 1px 2px 4px rgba(0,0,0,.5);
    border-radius: 10px;
    
}
.form{
    width: 100%;
    margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
   
}


form .grupo{
    position: relative;
    margin: 20px ;
    -webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

input{
    background: none;
   color: #5e5d5d;
	
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}
input:focus{ 
    outline: none;
    color: black;
}

label{
    color: black;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 14px;
    transition: 0.5s ease all;
    pointer-events: none;
}

.fecha{
    top:-14px;
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #ff1100ce, #4568DC);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}

.titulo{
    margin-left: 50px;
    grid-column: 1/4;
}
#grado{
   
    transform: translatex(61px) translateY(13px);
    transition: 0s;
}
#seccion{
   
    transform: translatex(71px) translateY(13px);
    transition: 0s;
}
#sexo{
    transform: translatex(51px) translateY(13px);
    transition: 0s;
}

.busqueda{
    grid-column: 1/3;
}
.buscador{
    padding: 5px;
}
.bus{
    justify-self: left;
    align-self: center;
    margin-left: 10px;

}

.guardar{
    color: green
}
/*seccion de cabezera*/
header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	height: auto;
    overflow:hidden; /* Eliminamos errores de float */
	background:#fff;
	margin-bottom:5px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.5);
}

.wrapper {
    float: right;
	width:90%; /* Establecemos que el ancho sera del 90% */
    height: auto ;
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin-right:10px; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}

header .espacio {
	color: black;
	font-size:50px;
	line-height:25px;
	float:left;
}

header nav {
	float:right;
	line-height:50px;
}

header nav a {
	display:inline-block;
	color:black;
	text-decoration:none;
	padding:5px 10px;
	line-height:normal;
	font-size:19px;
	font-weight:bold;
    -webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover {
	background:#f56f3a;
	border-radius:50px;
}



.guardar:hover{
    color:black
}

.confirmadores {
    background-color: transparent; /* Color de fondo */
    position: fixed;
    bottom: 20px;
    right: 40px;
    transition: all 300ms ease 0ms;
    z-index: 99;
    }
    
.confirmadores:hover {
    transform: translateY(-7px);
    }
  
button{
    float: right;
    background: transparent;
    border: none;
    width: 100px;
    margin: 5px;
    color: black;
    text-decoration:none;
    line-height:normal;
    height: 40px;
    font-size: 19px;
    font-weight:bold;
    cursor: pointer;
    -webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
    border-radius: 10px;
}

button:hover{
    background:#f56f3a;
	border-radius:50px;

}